{{!-- THIS IS THE SEARCH PAGE --}}

{{!-- HEADER --}}



<div id="mainPage" class="jumbotron">

  <div id="mainContent">
    <div>
      <h1 id="mainHeading"> <img src="https://requestreduce.org/images/house-logo-clipart-6.png" alt="House Logo"
          height="60px"> Real Wize
      </h1>
    </div>
  </div>
  
  </div>


</div>

</div> --}}
{{!-- {{/each}} --}}



<div class="row">
  {{#each list}}

  {{!-- making each card a hyperlink --}}
  <div class="container">
    <img class="images"
      src="https://pmcvariety.files.wordpress.com/2018/07/bradybunchhouse_sc11.jpg?w=1000&h=563&crop=1" alt="">
    <div class="middle">
      {{!-- MODAL BUTTON --}}
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{id}}"> Price Listing
        ${{priceDb}}</button>

      <p class="card-text"><small class="text-muted">Listing provided by ATTOM</small></p>

      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            ...
          </div>
        </div>
      </form>
    </div>
  </div>
  {{!-- THIS IS THE MODEL CONTAINER--}}
  <div class="modal fade" id="exampleModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{addressDB}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{!-- THIS IS WHERE INFO FOR MODAL WILL GO --}}
        <div class="modal-body">
          <p class="card-text">
            <img class="images" src="https://cdnimages.familyhomeplans.com/plans/75977/75977-b1200.jpg" alt="">
            <p>PRICE: ...</p>
            <p>Bed Bath: {{bedDb}}beds {{bathDb}}baths</p>
          </p>
          <ul>
            <h5>Summary</h5>
            <li>Lot Size: {{lotDb}} sqft</li>
            <li>Property Type: {{propertyDb}}</li>
             <li>Property SubType: {{propertySubtypeDb}}</li>
             <li>Year Built: {{yearBuiltDb}}</li>
             <li>Levels: {{numberOfLevelsDb}}</li>
             <li>Listed Date: {{listedDateDB}}</li>
          </ul>
          
         <ul>
            <h5>BedBath Information</h5>
            <li>No: of Full bath : {{bathsFullkeyDb}}</li>
            <li>No: of Half bath : {{bathsHalfDb}}</li>
             <li>Total Bath : {{bathDb}}</li>
             <li>No: of bedrooms : {{bedDb}}</li>
             <li>Total Rooms : {{roomsDb}}</li>
          </ul>

          <ul>
            <h5>Heating</h5>
            <li>Heating Fuel : {{heatDb}}</li>
            <li>Heating Type : {{heatingTypeDb}}</li>
          </ul>

          <ul>
            <h5>Garage Information</h5>
            <li>Heating Fuel : {{garageDb}}</li>
            <li>Heating Type : {{parkingSizeDb}}</li>
          </ul>


{{!-- {{/each}} --}}