{{!-- THIS IS THE SEARCH PAGE --}}

{{!-- HEADER --}}
<div class="jumbotron">
  <h1> <img src="https://requestreduce.org/images/house-logo-clipart-6.png" alt="House Logo" height="60px"> Real Wize
  </h1>
  <form id="todo-form">
    <div class="container">
    <div class="row">
      <div class="col-9">
        <input class="search-city form-control" placeholder="Enter City Name" type="text" />
      </div>
      <div class="col-2">
        <button type="submit" id="searchBtn" class="btn btn-danger text-white"><img id="searchIcon" src="http://cdn.onlinewebfonts.com/svg/download_61448.png" alt="Search icon"></button>
        

        {{!-- <a class="btn btn-danger text-white" type = "submit">Search</a> --}}
        {{!-- <div class="col-3">
        <a class="btn btn-danger text-white " id="searchBtn" href="/api/homeList" placeholder="Enter City Name">
         
        </a> --}}
      </div>
    </div>
  </div>
  </form>
  
</div>




{{!-- <div class="jumbotron">
      <h1 class="text-center">Real Wize</h1>
</div>

    <div class="container">

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <form id="todo-form">
              <div class="container">
                <div class="row">
                  <div class="col-10">
                    <input class="search-city form-control" id= "box"  placeholder="Enter City Name" type="text" />
                 
                  </div>
                  
                  <div class="col-2">
                    <button type="submit" class="btn btn-danger text-white">Search</button> --}}

{{!-- =================================================================================== --}}
{{!-- <a class="btn btn-danger text-white" type = "submit">Search</a> --}}
{{!-- <a class="btn btn-danger " id = "myBtn" href="/api/homeListBasedCity/seattle" placeholder="Enter City Name">Search</a> --}}

{{!-- =================================================================================== --}}
{{!-- </div>
                </div>
              </div>
            </form>
        </div>
      </div>
        <br> --}}

{{!-- <div id='results'>

      </div> --}}
{{!-- {{#each list}} --}}
{{!-- <h1>Uno mas</h1> --}}

{{!-- <div class="row"> --}}


{{!-- {{this.address}} --}}


{{!-- <div class="col-sm-12 col-sm-offset-2">
          <div class="card mb-3 border border-primary">
          <div class="row no-gutters">
         <div class="col-md-4"> --}}


{{!-- making each card a hyperlink --}}



{{!-- <a href = "#"> --}}
{{!-- <img src="home.jpg" class="card-img" alt="Home-image" > --}}
{{!-- <img src="/images/home.jpg" class="card-img" alt="Home-image" >
        </a>
        </div>
        <div class="col-md-8">
       <div class="card-body"> --}}


{{!-- making each card a hyperlink --}}



{{!-- <a href = "#">
        <h5 class="card-title">Price</h5>
        
        <p class="card-text">{{rooms_amenities}}</p>
        <p class="card-text">{{rooms_amenities}} | {{lot_size}}</p>
        <p class="card-text">{{address}}</p>
        <p class="card-text"><small class="text-muted">Listing provided by ATTOM</small></p>
      </a>
      </div>
    </div>
  </div>
  
  </div>


</div>

</div> --}}
{{!-- {{/each}} --}}



<div class="row">
  {{#each list}}

  {{!-- making each card a hyperlink --}}
  <div class="container">
    <img class="images"
      src="https://pmcvariety.files.wordpress.com/2018/07/bradybunchhouse_sc11.jpg?w=1000&h=563&crop=1" alt="">
    <div class="middle">
      {{!-- MODAL BUTTON --}}
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{id}}"> Price Listing
        $450,000.00</button>

      <p class="card-text"><small class="text-muted">Listing provided by ATTOM</small></p>

      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            ...
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- THIS IS THE MODEL CONTAINER--}}
  <div class="modal fade" id="exampleModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{address}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{!-- THIS IS WHERE INFO FOR MODAL WILL GO --}}
        <div class="modal-body">
          <p class="card-text">
            <img class="images" src="https://cdnimages.familyhomeplans.com/plans/75977/75977-b1200.jpg" alt="">
            <p>PRICE: ...</p>
            {{rooms_amenities}}
          </p>
          <p>Lot Size: {{lot_size}}</p>
          <p>Square Footage: ...</p>
          <p>Year Built: ...</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>